In [1]:
# Apriori
# Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Data Preprocessing
df = pd.read_csv( "Market_Basket_Optimisation.csv" , header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.fillna (0, inplace = True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
transactions = []
for i in range(0, len(df)):
               transactions.append([str(df.values[i,j]) for j in range (0, 20) if str(df.values[i, j])!='0'])

In [18]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [20]:
#Training Apriori on the dataset
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_1ift = 3, max_length = 3)
# Saving the rules
results = list(rules)

In [23]:
# Save transactions and results as CSV
df1 = pd.DataFrame (transactions)
df1.to_csv("transactions .csv")
df2 = pd.DataFrame (results)
df2.to_csv("results.csv")
results = pd.read_csv('results.csv')
results.head(10)

,Unnamed: 0,items,support,ordered_statistics
0,0,frozenset({'mineral water'}),0.238368,"[OrderedStatistic(items_base=frozenset(), item..."
1,1,"frozenset({'burgers', 'almonds'})",0.005199,[OrderedStatistic(items_base=frozenset({'almon...
2,2,"frozenset({'chocolate', 'almonds'})",0.005999,[OrderedStatistic(items_base=frozenset({'almon...
3,3,"frozenset({'eggs', 'almonds'})",0.006532,[OrderedStatistic(items_base=frozenset({'almon...
4,4,"frozenset({'french fries', 'almonds'})",0.004399,[OrderedStatistic(items_base=frozenset({'almon...
5,5,"frozenset({'green tea', 'almonds'})",0.005066,[OrderedStatistic(items_base=frozenset({'almon...
6,6,"frozenset({'milk', 'almonds'})",0.005199,[OrderedStatistic(items_base=frozenset({'almon...
7,7,"frozenset({'mineral water', 'almonds'})",0.007599,[OrderedStatistic(items_base=frozenset({'almon...
8,8,"frozenset({'spaghetti', 'almonds'})",0.005999,[OrderedStatistic(items_base=frozenset({'almon...
9,9,"frozenset({'chocolate', 'avocado'})",0.007066,[OrderedStatistic(items_base=frozenset({'avoca...